@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0 auto;
	border: 0;
	padding: 0;
	max-width: 1920px;
	font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
	letter-spacing: 1px;
	line-height: 1.5;
	background-color: #25072e;
	background-image: url("./images/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;,
}

* {
	box-sizing: border-box;
}

h1 {
	display: none;
}


/*HEADER*/
header {
	position: fixed;
	top: 4vh;
	left: 2vw;
	font-weight: bold;
	font-size: 13px;
	line-height: 2;
}

.sidebar-menu {
	list-style-type: none;
	padding: 0;
}

.sidebar-menu a {
	text-decoration: none;
	color: #ef008e;
	opacity: 0.8;
	letter-spacing: 3px;
}


/*FOOTER*/
footer {
	position: fixed;
	bottom: 4vh;
	left: 2vw;
}

.sidebar-social {
	list-style-type: none;
	padding: 0;
}

.social-item img {
	width: 20px;
	padding: 4px 0px;
}


/*PAGE CONTENT*/
.page-content	{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-left: 12.45vw;
	letter-spacing: 1px;
	margin-right: 2vw;
	/*box-sizing: content-box;*/
}


/*HOME*/
.section-header {
	display: flex;
	justify-content: flex-end;
	margin-top: 2vw;
	/*margin-right: 4vw;*/
	color: #ef008e;
	font-size: 28px;
	font-weight: bold;
}

.members {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-right: 18vw;
	line-height: 1.6;
}

.member-photo {
	padding: 0px 10px;
}

.member-info {
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	letter-spacing: 3px;
}

.member-name {
	color: #ccc8ff;
	font-size: 15px;
	font-weight: bold;
}

.member-function {
	color: #ccc8ff;
	opacity: 0.8;
	font-size: 13px;
}


/*ABOUT*/
.section-band-photo img {
	width: 53.29vw;
	border-top: 3px solid #ec008c;
}

.section-band {
    display: inline-block;
	position: relative;
	margin-bottom: 100vh;
}

.section-band-photo {
	position: absolute;
	top: 2.20vh;
	right: 2vw;
}

.section-info {
	background-color: #25072e;
	box-sizing: border-box;
	position: absolute;
	top: 37.7vh;
	right: 48vw;
	/*padding-bottom: 55vh;*/
	/*margin-bottom: 55vh;*/
	z-index: 10;
	width: 356.1px;
	height: 323.6px;
	border-bottom: 3px solid #ec008c;
}

.info-header {
	position: absolute;	
	top: 3.62vh;
	left: 2.05vw;
	color: #ccc8ff;
	font-size: 15px;
	font-weight: bold;
}

.info-text {
	position: absolute;	
	top: 60.5px;
	margin-left: 27.9px;
	margin-right: 27.9px;
	color: #ccc8ff;
	opacity: 0.8;
	font-size: 13px;
}


/*CONCERTS*/
.section-concerts {
	display: flex;
	flex-wrap: wrap;
	/*margin-bottom: 112.7px;*/
	/*margin-right: 37.4px;*/
	width: 80%;
	margin-left: 13vw;
}

.concert-item {
	display: flex;
	flex-direction: column;
	/*justify-content: flex-end;*/
	flex-basis: 50%;
	/*flex-grow: 1;*/
	margin: 0;
}

.concert-info-ticket {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*margin-left: 15px;*/
	/*margin-right: 195px;*/
}

.concert-info {
	margin: 0;
	color: #ccc8ff;
}

.concert-date {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}

.concert-place {
	margin: 0;
	opacity: 0.8;
	font-size: 13px;
}

.button-ticket {
	display: flex;
	margin-right: 3vw;
}

.concert-photo img {
	width: 25vw;
	/*height: 203.4px;*/
	border-bottom: 3px solid #ec008c;
	margin: 0;
	padding: 0;
}

button {
	height: 6vh;
	background-color: rgba(204, 200, 255, 10%);
	border: 0px;
	border-radius: 7px;
	font-size: 13px;
	color: rgba(204, 200, 255, 80%);
	font-weight: 600;
}


/*VIDEO*/
.video-item {
	position: relative;
}

.videoclip {
	position: absolute;
	top: 2vh;
	/*right: 47.4px;*/
	width: 67vw;
	height: 70vh;
	border-top: 3px solid #ec008c;
}


/*PHOTOS*/
.section-photos {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2vh;
	/*margin-right: 4vw;*/
	/*width: 80%;*/
}

.photos-item {
	display: flex;
	/*align-items: center;*/
	/*align-items: flex-end;*/
	flex-basis: 33.3%;
	flex-grow: 1;
	justify-content: flex-end;
}

.photos-item img {
	width: 20.87vw;
	margin: 1.5vh 0vw;
	border-top: 3px solid #ec008c;
}


/*CONTACT*/
.section-contact {
	display: flex;
	flex-direction: row;
}

.contact-photo {
	right: 37.05vw;
	top: 2vh;
}

.contact-photo img {
	width: 32.29vw;
}

address {
	margin-left: 5.55vw;
	margin-top: 16.08vh;
}

.contact-item {
	color: #ccc8ff;
	opacity: 0.8;
	font-size: 13px;
	font-style: normal;
}

.contact-item a {
	text-decoration: none;
	color: inherit;
}

form {
	display: block;
	padding-top: 4.69vh;
	color: #ccc8ff;
	font-size: 13px;
}

label {
	line-height: 2;
	opacity: 0.8;
}

input {
	width: 20.83vw;
	height: 4.03vh;
	opacity: 0.1;
	border-radius: 7px;
}

@media screen and (max-width: 800px) {
	.members {
		flex-direction: column;
	}

	.photos-item {
		flex-direction: column;
		/*flex-basis: 100%;*/
	}
}
